@import "./reset.css";
@import "./theme.css";
@import "./base.css";

.component-wrap {
  margin: 2.5rem;
}

/* 버튼 컴포넌트 */
.btn {
  padding: var(--x-small-spacing) var(--small-spacing);
  display: inline-block;
  border-radius: 1.5rem;
  font-size: var(--xx-small-text);

  @media (min-width: 1024px) {
    font-size: var(--x-small-text);
  }

  .blue {
    color: var(--blue-200);
  }
}

.btn-fill {
  --btn-bg: var(--black);

  color: var(--white);
  background: var(--btn-bg);
  border: 1px solid var(--btn-bg);

  &:hover {
    background: gray;
    border: 1px solid gray;
  }
}

.btn-outline {
  color: var(--black);
  background: transparent;
  border: 1px solid var(--black);

  &:hover {
    background: gray;
    border: 1px solid gray;
    color: var(--white);
  }
}

.btn-wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--base-spacing);
  justify-content: center;
}

/* 텍스트 컴포넌트 */
.text-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin-top: var(--large-spacing);

  .title {
    font-size: var(--large-text);
    margin-bottom: var(--small-spacing);
  }

  .subtitle {
    font-size: var(--base-text);
    margin-bottom: var(--x-small-spacing);
    line-height: var(--line-normal);

    br {
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  .text {
    font-size: var(--small-text);
    color: var(--gray);
    margin-bottom: var(--x-small-spacing);
  }

  @media (min-width: 1024px) {
    margin-top: var(--extra-large-spacing);
    .title {
      font-size: var(--extra-large-text);
    }
    .subtitle {
      font-size: var(--medium-text);
    }
  }
}

/* 카드 컴포넌트 */
.card-item {
  width: 100%;
  height: var(--size);
  display: grid;

  .card-box {
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: 1;
  }

  .card-inner {
    grid-column: 1/-1;
    grid-row: 1/3;

    .btn {
      z-index: 2;
    }
  }

  &.dark {
    color: var(--white);

    .btn-fill {
      background: var(--blue-200);
      border: 1px solid var(--blue-200);

      &:hover {
        background: var(--blue-400);
      }
    }

    .btn-outline {
      border: 1px solid var(--blue-200);
      color: var(--blue-200);

      &:hover {
        background: var(--blue-400);
        color: var(--white);
        border: 1px solid var(--blue-400);
      }
    }
  }
}
